@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "aesthetic";
  src: url("./fonts/Aesthetic\ Romance.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
@font-face{
  font-family: "sans";
  src: url("./fonts/ModernSans-Light.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
@font-face{
  font-family: "mortend";
  src: url("./fonts/Mortend\ Bold.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}